<!DOCTYPE html>
<html lang="ru">
<head>
  <% include ../partials/head %>
</head>
<body>

<div class="wrapper">
  <header>
    <% include ../partials/header %>
  </header>

    <div class="down-header">
      <a class="main" href="../../index.html">Головна</a>
      <span> / </span>
      <a href="#">Кар'єра</a>
      <span> / </span>
      <a href="#">Вакансії</a>
    </div>

    <div class="wrapper-form">
      <div class="header-form">
        <h2 class="header-title">Заповни анкету та приєднуйся до нашої команди</h2>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-6">
            <div class="logo-form">
              <img src="../../images/career/form_kfc_logo.png" alt="">
            </div>
            <p class="paragraph-form">
              Якщо комунікабельність, позитивність, відповідальність та енергійність – це про тебе, ласкаво просимо в нашу команду на стартову позицію члена команди ресторану, для якої не потрібен досвід!<br>
              Ми обіцяємо цікаву роботу, приємну атмосферу, багато вражень та друзів. А якщо ти хочеш розвиватися та маєш організаторські здібності, сміливо розраховуй на кар'єрний ріст.<br>
              Майбутнє – це зараз, і воно в твоїх руках.<br> Приєднуйся до нас!<br>
            </p>
            <a href="#" class="paragraph-form paragraph-form-about">Докладніше про вакансію</a>
          </div>
          <div class="col-md-6">
            <form action="">
            <ul>
              <li>
              <label>Прізвище, ім'я</label> <input class="form-input" type="text" required></li>
              <li>
              <label>Вік </label>
                <select name="" id="">
                  <option value="">18</option>
                  <option value="">19</option>
                  <option value="">20</option>
                  <option value="">21</option>
                  <option value="">22</option>
                  <option value="">23</option>
                </select>
              </li>
              <li>
                <label>Громадянство</label>
                <select class="" name="" id="">
                  <option value="">Україна</option>
                </select>
              </li>
              <li>
                <label>Мобільний</label> <input class="form-input" type="text" required>
              </li>
              <li>
                <label>E-mail</label> <input class="form-input" type="text" required>
              </li>
              <h3 class="text-center">Бажане місце роботи</h3>
              <li>
                <label>Місто роботи</label>
                <select name="" id="">
                  <option value="">Київ</option>
                </select>
              </li>
              <li>
                <label>Метро</label>
                <select name="" id="">
                  <option value="">Select a subway</option>
                  <option value="">Cтанція Либiдська</option>
                  <option value="">Чернігівська</option>
                  <option value="">Вокзальна</option>
                  <option value="">Мінська</option>
                  <option value="">Осокорки</option>
                  <option value="">Теремки</option>
                  <option value="">Видубичi</option>
                  <option value="">Оболонь</option>
                  <option value="">Іподром</option>
                  <option value="">Васильківська</option>
                  <option value="">Виставковий центр</option>
                </select>
              </li>
              <li>
                <label>Ресторан</label>
                <select name="" id="">
                  <option value="">Select a restaurant</option>
                  <option value="">KFC DreamTown</option>
                  <option value="">KFC Арт Молл</option>
                  <option value="">KFC Вокзал Південний</option>
                  <option value="">KFC Магелан</option>
                  <option value="">KFC Маяковського</option>
                  <option value="">KFC Океан Плаза</option>
                  <option value="">KFC Осокорки</option>
                  <option value="">KFC Чернігівська</option>
                </select>
              </li>
            </ul>
              
            <input type="checkbox" checked><span class="politics"> натискаючи кнопку «Далі», я підтверджую свою дієздатність, даю згоду на обробку своїх персональних даних та на отримання рекламно-інформаційних повідомлень від ТОВ «УКРАЇНСЬКА ХАРЧОВА КОМПАНІЯ» та ТОВ «ГЛОБАЛЬНА РЕСТОРАННА ГРУПА-УКРАЇНА» на наступних <a class="condition" href="#">умовах.</a></span>
            </form>
            <a class="button">Далі</a>
          </div>
        </div>
      </div>
    </div>
    <footer>
    <% include ../partials/footer %>
  </footer>
  </div>

  </body>

</html>